@font-face {
	font-family: 'hogenull';
  src: url(./font/font/NaishoMoji-Regular.otf);
}
@font-face {
	font-family: 'circleText';
  src: url(./font/font/corpminfont/logotypejp_corpmin.ttf);
}

header {
  font-family: hogenull,Quicksand, 游ゴシック体, "Yu Gothic", YuGothic,;
}
h2,p,section,article {
  font-family: circleText,Quicksand, 游ゴシック体, "Yu Gothic", YuGothic,;
}